/* asi se pone un comentario */
h1 {
    color:rgb(151, 71, 134);
}
h2{
    color:rgb(205, 90, 171);
}
li{
    color:rgb(216, 10, 130);
}
dl{
    color:rgb(69, 133, 126);
}
dt{
    color:rgb(214, 91, 142);
}
