/* asi se pone un comentario */
h1 {
    color:rgb(192, 39, 192);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,199,152,1) 7%, rgba(176,79,190,1) 17%, rgba(97,7,88,1) 28%, rgba(97,50,132,1) 48%, rgba(132,72,149,1) 55%, rgba(63,106,175,1) 66%, rgba(136,97,112,1) 71%, rgba(129,97,136,1) 89%);
}
h2{
    color:rgb(255, 255, 255);
}
li{
    color:rgb(255, 255, 255));
}
dl{
    color:rgb(199, 34, 76); 
}
dt{
    color:rgb(214, 91, 142);
}

/* SELECTOR UNIVERSAL */
* {
    COLOR: ORANGERED ;
}
/* SELECTOR POR ETIQUETA */
body {
    color: orchid;
    /*color de imagen*/
    background-color: rgb(42, 120, 165);
    /*imagen URL*/
    background-image: url('../fondo.jpg');
    /*POSICION DE IMAGEN DE FONDO*/
    background-position: left 150%;
    /*FIJO LA IMAGEN PARA QUE NO SE REPITA*/
    background-attachment: fixed;
    /*LA IMAGEN SE ESTIRA AL ANCHO DEL VIWEPORT*/
    background-size: cover;
}
/* SELECTOR POR ID */
#subtitulo {
    color:palevioletred;
}
/* SELECTOR POR CLASES-CLASS se identifican con . (punto) */
.titulos {
    color:blue;
}
/* SELECTOR DESCENDIENTE */
h2 em {
    color:chartreuse;
}
 
h1 {
    text-align: center;
}
